body {
  margin-top: 20vh;
}

#loginHead {
  margin-bottom: 20px;

  img {
    margin-top: 0vw;
  }
}

#loginButton {
  margin-bottom: 10px;
}

#textFields {
  margin-bottom: 50px;
}

.textField {
  margin-bottom: 20px;
  width: 50%;

  .textField-m {
    margin-top: 5px;
  }
}

.textField-m,
.label {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

#loginButton {
  margin-bottom: 30px;
}