body {
  margin-top: 10vh;
}

#loginHead {
  margin-bottom: 25px;

  img {
    margin-top: -10px;
  }
}

#loginButton {
  margin-bottom: 10px;
}

#textFields {
  margin-bottom: 25px;
}

.textField {
  margin-bottom: 20px;
  width: 50%;

  
}

#usernameInput, #passwordInput{
  margin-top: 5px;
  margin-bottom: 20px;
}

.textField-m,
.label {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

#loginButton {
  margin-bottom: 30px;
}