body {
  margin-top: 20vh;
}

#loginHead{
  margin-bottom: 20px;
  img{
    margin-top: 20px;
  }
}
#loginButton {
  margin-bottom: 10px;
}

#textFields{
    margin-bottom: 50px;
}
.textField{
    margin-bottom: 20px;
    width: 50%;
    .textField-m{
      margin-top: 5px;
    }
}
#textLogin {
  padding-left: 140px;
  white-space: nowrap;
}
#loginButton{
  margin-bottom: 30px;
}


