.navbar {
  background: #fff; 
  z-index: 1050; 
  padding-right: 10px;
  padding-left: 10px;
}


main {
  margin-top: 12vh;
}

@media (max-width: 767.98px) {   
  main {
    margin-top: 3vh;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {  
  main {
    margin-top: 12.1vh;
  }
}
@media (min-width: 992px) { 
  main {
    margin-top: 10vh;
  }
}
@media (min-width: 1200px) {  
  main {
    margin-top: 9.5vh; 
  }
}

.bg-author {
  background: var(--primary-color);
 
}

