@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

h1,
h2,
h3 {
  font-family: var(--h-font);
  font-weight: bolder;
  color: var(--primary-color);
}

h1 {
  font-size: 4rem;
}
body{
  font-family: var(--p-font);
}

txt-color{
  color: var(--primary-color);
}