#homeIcon,
#linkIcon,
#searchIcon,
#videocamicon,
#menuIcon,
#descriptionIcon,
#arrowIcon,
#notificationIcon,
#forumIcon {
  color: var(--primary-color);
}
#homeIcon:hover,
#linkIcon:hover,
#searchIcon:hover,
#videocamicon:hover,
#menuIcon:hover,
#descriptionIcon:hover,
#arrowIcon:hover,
#notificationsIcon:hover,
#forumIcon:hover {
  color: var(--secondary-color);
  transform: scale(1.3);
}

#linkIconForum {
  color: white;
  cursor: pointer;
}

#closeIcon {
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  border-radius: 5px;
}
#closeIcon:hover,
.personIcon:hover {
  background-color: var(--secondary-color);
  transform: scale(1.3);
}

.personIcon {
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  border-radius: 50px;
  cursor: pointer;
}

.nav-item.disabled .nav-link {
  color: #bdbdbd !important;
  cursor: not-allowed !important;
}

.nav-item.disabled .nv-personIcon {
  color: #f1efef !important;
  background-color: var(--disable-color) !important;
}
.nav-item.disabled .nv-personIcon:hover {
  transform: none;
  cursor: not-allowed !important;
}

#favoriteIcon {
  color: transparent;
  -webkit-text-stroke: 1.5px white;
}
#favoriteIcon:hover {
  color: var(--tertiary-color);
}

#favoriteUserIcon {
  color: transparent;
  -webkit-text-stroke: 1.5px var(--primary-color);
}
#favoriteUserIcon:hover {
  color: var(--primary-color);
}

#favoriteForumIcon {
  color: transparent;
  -webkit-text-stroke: 2px white;
}
#favoriteForumIcon:hover {
  color: white;
}

.favoriteForumIcon {
  color: transparent;
  -webkit-text-stroke: 2px white;
  cursor: pointer;
}
.favoriteForumIcon:hover {
  color: white;
}
.favoriteForumIconLiked {
  color: white !important;
}
#exitIcon {
  color: var(--primary-color);
  font-size: 40px !important;
}
#exitIcon:hover {
  color: var(--secondary-color);
  font-weight: bolder;
}

.nv-icon {
  font-size: 30px !important;
}

.nv-favouriteUserIcon {
  font-size: 30px !important;
  margin-bottom: 20px;
}

.logoutIcon {
  color: var(--primary-color);
}
.loginIcon {
  color: rgb(0, 221, 0);
}
.logoutIcon:hover,
.loginIcon:hover {
  transform: scale(1.3);
}
.logoutIcon,
.loginIcon {
  margin-left: 5px;
  cursor: pointer;
}
.logoutIcon:hover{
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border-radius: 5px;
}
