.ct-forum {
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: var(--btn-padding);
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: var(--tertiary-color);
  }
  a:visited {
    color: var(--primary-color);
  }
}

/*Icons*/
#closeIcon {
  color: var(--disable-color);
  background-color: var(--primary-color);
  border-radius: 5px;
}
#closeIcon:hover {
  color: var(--secondary-color);
}
#favoriteIcon {
  color: white;
  -webkit-text-stroke: 2px var(--tertiary-color);
}
#favoriteIcon:hover {
   color: var(--tertiary-color);
}
#personIcon{
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  border-radius: 50px;
}