body::-webkit-scrollbar {
  background: var(--primary-color); /* color de fondo de la barra */
}

body {
  scrollbar-width: thin;
  scrollbar-color:var(--primary-color);
}

body::-webkit-scrollbar {
  width: 6px;
  background: var(--primary-color);
}
body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 8px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) #ffffff; 
}
