@import url("https://fonts.googleapis.com/css2?family=Cutive&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --primary-color: #4b5b6a;
  --secondary-color: #39c9c0;
  --tertiary-color: #bbef4c;
  --disable-color: #bababa;
  --main-navbar-color: #f2f2f7;
  --h-font: "Cutive", monospace;
  --p-font: "Plus Jakarta Sans", sans-serif;
  --btn-padding: 10px 20px;
  --nv-bckg: #f2f2f7;
  /* --h1-size:  */
  --logo_small: url("/src/resources/img/logo_small.png");
  --logo_big: url("/src/resources/img/logo_big.png");
  --hero: url("/src/resources/img/hero.png");
}

#logo{
  border: 2px solid red;
  width: 100px;
}
button {
  padding: var(--btn-padding);
  font-family: var(--h-font);
}

.btn-m {
  background-color: var(--secondary-color);
  color: white;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
  border-color: var(--secondary-color);
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
}
.btn-m:hover {
  background-color: white;
  color: var(--secondary-color);
  padding: 10px 20px;
  box-shadow: none;
  border: 1px solid var(--secondary-color);
}

button:disabled {
  background-color: var(--disable-color);
  padding: 10px 20px;
  box-shadow: none;
  color: #9c9b9d;
  border: 1px solid var(--secondary-color);
}

.link-st {
  color: var(--secondary-color);
  text-decoration: underline;
}

.link-st:hover {
  color: var(--tertiary-color);
  text-decoration: underline;
}
.link-st:visited {
  color: var(--primary-color);
  text-decoration: underline;
}

.textField-m {
  border: 1px solid var(--disable-color);
  color: var(--disable-color);
}

.textField-a {
  border: 1px solid black;
  color: black;
}

.textField-e {
  border: 1px solid red;
  color: black;
}

.text-box {
  border: 2px solid var(--secondary-color);
  padding: var(--btn-padding);
}

.ct-forum {
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: var(--btn-padding);
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: var(--tertiary-color);
  }
  a:visited {
    color: var(--primary-color);
  }
}

/*Icons*/
#closeIcon {
  color: var(--disable-color);
  background-color: var(--primary-color);
  border-radius: 5px;
}
#closeIcon:hover {
  color: var(--secondary-color);
}
#favoriteIcon {
  color: white;
  -webkit-text-stroke: 2px var(--tertiary-color);
}
#favoriteIcon:hover {
   color: var(--tertiary-color);
}
#personIcon{
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  border-radius: 50px;
}

h1, h2, h3{
  font-family: var(--h-font);
}

