@import url("https://fonts.googleapis.com/css2?family=Noto_Sans&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --primary-color: #0F2D45;
  --secondary-color: #1C6784;
  --tertiary-color: #FFFFFF;
  --quaternary-color: #F0F5F3;
  --disable-color: #bababa;
  --main-navbar-color: #f2f2f7;
  --font-color: #383838;
  --nv-bckg: #f2f2f7;
  --h-font: "Noto Sans", sans-serif;
  --p-font: "Plus Jakarta Sans", sans-serif;
  --btn-padding: 10px 20px;
  --btn-forum-padding: 1.5rem 1.4rem;
  --logo: url("/src/resources/img/logo.png");
  --hero: url("/src/resources/img/hero.png");
}
