@import url("/src/resources/styles/main.css");
.hero {
    background-color: var(--primary-color);
    margin-top: 5rem;
    background-image: url("/src/resources/img/logo_low_opacity.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32% auto;
    display: flex;
   
}





